body {
    transition: all .5s;
}

.header {
    background-color: transparent;
}

.logo {
    display: none;
    justify-content: center;
    align-items: flex-start;
    vertical-align: top;
    animation: enterLogo 1s ease-in-out;
}

.logo img {
    width: 6%;
}


@keyframes enterLogo {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale(1);
    }
}

.sliders {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.car-exibition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.car-Image a {
    display: flex;
}

.car-Image img {
    /* -webkit-filter: drop-shadow(3px 3px 10px rgb(255, 128, 0, .3)); */
    filter: drop-shadow(3px 5px 10px rgba(160, 160, 160, 0.8));
    width: 85%;
    margin: auto;
    filter: grayscale(.3);
    transition: var(--transition);
    cursor: pointer;
    animation: enterMarch 1s ease-in-out;
    z-index: 2;
}

/* Inicio Mclaren */

#mclp1 .car-Image img {
    margin-bottom: 5rem;
}

#mcl720 .car-Image img {
    width: 60%;
}

#mclp1 .car-title {
    height: 200px;
}
/* Fim mclaren */


/* Inicio Ferrari */
#F40 .car-Image img {
    width: 100%;
}

#laferrari .car-Image img {
    width: 80%;
}

/* Final ferrari */

/* Inicio porsche */
#gt3 .car-Image img {
    width: 70%;
}

#cayenne .car-Image img {
    width: 70%;
}

/* Final porsche */

.car-Image img:hover {
    filter: grayscale(0);
    transform: scale(0.9);
    filter: drop-shadow(3px 5px 10px rgba(160, 160, 160, .4));
}

.car-selected:hover {
    transform: scale(1.2);
}

.car-title {
    position: relative;
    height: 300px;
    font-size: 32rem;
    color: gray;
    opacity: .3;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 1;
    animation: enterMarch 1s ease-in-out;
}

.sliders {
    margin: 0 auto;
    height: 80dvh;
    overflow: hidden;
}
.footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: Arial, sans-serif;
}

.footer-content {
    margin-bottom: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.footer-logo {
    text-align: center;
    font-size: 30px;
}

.footer-bottom {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #aaa;
    border-top: 1px solid #333;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
}


.footer-send {
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
}

.footer-send input {
    background-color: transparent;
    outline: none;
    border: 1px solid #00a6fb;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    min-width: 180px;
}

.footer-send button {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.footer-send button i {
    font-size: 24px;
}
.footer-social{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-social i{
    font-size: 25px;
}