body {
    transition: all .5s;
}

.header {
    background-color: transparent;
}

.logo {
    display: none;
    justify-content: center;
    align-items: flex-start;
    vertical-align: top;
    animation: enterLogo 1s ease-in-out;
}

.logo img {
    width: 6%;
}


@keyframes enterLogo {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale(1);
    }
}

.btnBack {
    display: none;
}

.sliders {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.car-exibition {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.car-Image a {
    display: flex;
}

.car-Image img {
    /* -webkit-filter: drop-shadow(3px 3px 10px rgb(255, 128, 0, .3)); */
    filter: drop-shadow(3px 5px 10px rgba(160, 160, 160, 0.8));
    width: 85%;
    margin: auto;
    filter: grayscale(.3);
    transition: var(--transition);
    cursor: pointer;
    animation: enterMarch 1s ease-in-out;
    z-index: 2;
}

/* Inicio Mclaren */

#mclp1 .car-Image img {
    margin-bottom: 5rem;
}

#mcl720 .car-Image img {
    width: 60%;
}

#mclp1 .car-title {
    height: 200px;
}

/* Fim mclaren */


/* Inicio Ferrari */
#F40 .car-Image img {
    width: 100%;
}

#laferrari .car-Image img {
    width: 80%;
}

/* Final ferrari */

/* Inicio porsche */
#gt3 .car-Image img {
    width: 70%;
}

#cayenne .car-Image img {
    width: 70%;
}

/* Final porsche */

.car-Image img:hover {
    filter: grayscale(0);
    transform: scale(0.9);
    filter: drop-shadow(3px 5px 10px rgba(160, 160, 160, .4));
}

.car-title {
    position: relative;
    height: 300px;
    font-size: 32rem;
    color: gray;
    opacity: .3;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 1;
    animation: enterMarch 1s ease-in-out;
}

.sliders {
    margin: 0 auto;
    height: 80dvh;
    overflow: hidden;
}

.footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: Arial, sans-serif;
}

.footer-content {
    margin-bottom: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/* RESPONSIVIDADE */

@media (width <=1080px) {

    .btnBack {
        display: block;
        padding: 10px;
        border: 0;
        background-color: transparent;
        color: var(--color-accent);
        font-weight: 600;
        font-family: "Saira";
        font-size: 1.7rem;
        cursor: pointer;
        transition: .5;
    }

    .btnBack:hover {
        opacity: .7;
    }

    .circle {
        transform: rotateX(60deg);
    }

    #mclartura {
        margin-left: -15px;
    }

    #mclartura img {
        width: 300px;
        margin-bottom: 0px;
    }

    #mcl720 .car-Image img {
        width: 80%;
        margin-bottom: 0px;
    }

    #laferrari {
        margin-left: -70px;
    }

    #laferrari .car-Image img {
        width: 50%;
    }

    #cayenne {
        margin-left: -30px;
    }

    .car-title {
        font-size: 10rem;
        flex-wrap: wrap;
        width: 200%;
        height: 200px;
        text-align: center;
        align-content: center;
    }
}