body {
    background-color: var(--color-background);
}

.showroom {
    animation: move 15s linear;
    background-color: black;
    animation-iteration-count: infinite;
    transition: background-image .3s ease-in-out;
}

.location {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5rem 10rem;
    gap: 20px;
}

.location-title {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.location-title h1 {
    color: var(--color-text);
    font-size: 5rem;
}

.location-title p {
    color: var(--color-text);
    font-size: 3rem;
    text-align: justify;
}

.location-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.location-map a {
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding: 1.5rem 3rem;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 2rem;
    transition: .5s;
}

.location-map a:hover {
    background-color: var(--color-primary);
    color: var(--color-text);
    transform: scale(1.1);
}


.location-map img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: 20px;
    height: 400px;
    box-shadow: 0px 2px 8px gray;
    transition: .6s;
}

.location-map img:hover {
    opacity: .7;
}

.highlight a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 0px;
    font-size: 4rem;
    padding: 1rem .5rem;
    
}

.highlight a:hover {
    background-color: transparent;
}

@keyframes move {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}
.footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: Arial, sans-serif;
}

.footer-content {
    margin-bottom: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.footer-logo {
    text-align: center;
    font-size: 30px;
}

.footer-bottom {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #aaa;
    border-top: 1px solid #333;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
}


.footer-send {
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
}

.footer-send input {
    background-color: transparent;
    outline: none;
    border: 1px solid #00a6fb;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    min-width: 180px;
}

.footer-send button {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.footer-send button i {
    font-size: 24px;
}
.footer-social{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-social i{
    font-size: 25px;
}

/* RESPONSIVIDADE */

