#heroSobre {
    background-image: var(--gradient), url("../assets/img/banners/sobreBanner.jpg");
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 15rem;
    padding: 20px;
}

.sobre-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sobre-content h1, p {
    color: var(--color-text);
}

.sobre-content h1 {
    font-family: "Saira";
    text-align: left;
    font-size: 5rem;
}

.sobre-content p {
    font-weight: 500;
    font-size: 2rem;
    text-align: justify;
    width: 85%;
}

.sobre-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sobre-img img {
    width: 95%;
    border-radius: 20px;
    filter: brightness(.8);
    border: 2px solid var(--color-primary);
}

.highlight a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 0px;
    font-size: 4rem;
    padding: 1rem .5rem;
    
}

.highlight a:hover {
    background-color: transparent;
}

