@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #2b1b14;
    --color-text: #f2f4f3;
    --color-primary: #00a6fb;
    --color-secundary: #13293D;
    --color-accent: #ffd166;
    --mclaren-primary: #ff8000;
    --mclaren-secondary: #47C7FC;
    --ferarri-primary: #A6015A;
    --ferrari-secondary: #FFEB00;
    --porsche-primary: #Ebd698;
    --porsche-secondary: #b12b28;
    --transition: 0.5s;
    --gradient: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .60));
}

::selection {
    background-color: #00a7fb83;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-background);
    font-size: 1.5rem;
    font-family: "Urbanist";
}

h2 {
    font-family: "Saira";
}

.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100dvh;
    padding: 3rem;
    width: 100%;
    background-image: var(--gradient);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
}

ul li {
    list-style: none;
}

a {
    color: var(--color-text);
    font-weight: 600;
    transition: color var(--transition);
    text-decoration: none;
}

.header-menu a:hover {
    color: var(--color-accent);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    animation: enter 1s ease-in-out both;
}

@keyframes enter {
    from {
        padding: 0;
        opacity: 0;
    }

    to {
        padding: 0 2rem;
        opacity: 1;
    }
}

h2 a:hover {
    color: var(--color-primary);
}

.header h2 {
    text-align: left;
    margin: 0;
    color: var(--color-text);
    font-size: 3.8rem;
}

span {
    color: var(--color-primary);
}
.item-menu 
i {
    display: none;
}

.header-menu {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.header-logo {
    display: flex;
    justify-content: left;
    align-self: flex-end;
}

.highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    animation: enter 1.5s ease-in-out;
}

.highlight h1,
h2 {
    font-family: "Saira";
    font-size: 6rem;
    color: var(--color-text);
}

.highlight p {
    font-family: "Saira";
    color: var(--color-text);
    letter-spacing: 2px;
    font-size: 2.5rem;
    transition: 1s;
}

.highlight a {
    color: var(--color-primary);
    border: 3px solid var(--color-primary);
    padding: 1.5rem 3rem;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 2.5rem;
    transition: .5s;
}

.highlight a:hover {
    background-color: var(--color-primary);
    color: var(--color-text);
    transform: scale(1.15);
}

.hamburguer {
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: none;
}

.item-menu {
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
}

.barra {
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: var(--color-text);
    margin: .5rem auto;
    border-radius: 20px;
    transition: var(--transition);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem;
}

.footer-slides {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
}

.footer-slide-options {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
}

.slideHero {
    display: flex;
    align-content: center;
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    /* background-color: var(--color-text); */
    border-radius: 100%;
    transition: var(--transition);
}

.buttonHero {
    border: 0;
    font-family: "Urbanist";
    background-color: transparent;
    color: var(--color-accent);
    font-weight: 600;
    font-size: 2rem;
    transition: .3s;
    cursor: pointer;
}

.buttonHero:hover {
    opacity: .6;
}

.buttonHeroIcon {
    display: flex;
    border: 0;
    font-family: "Urbanist";
    background-color: transparent;
    color: var(--color-accent);
    align-items: center;
    font-weight: 600;
    font-size: 4rem;
    transition: .3s;
    cursor: pointer;
}

.buttonHeroIcon:hover {
    opacity: .6;
}

.outroHero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.outroHero {
    position: relative;
    padding: 0;
    min-height: 40dvh;
    z-index: 2;
    color: var(--color-text);
}

.highlight {
    color: var(--color--background);
    margin: auto;
    text-align: center;
}

.outroHero h1 {
    font-size: clamp(3rem, 3.2vmax, 6rem)
}

.outroHero p {
    margin-top: 10px;
    font-size: clamp(1.3rem, 1.2vmax, 4rem)
}

.carsHero {
    padding: 1rem;
    background-image: var(--gradient), url("../assets/img/car_bg.jpg");
}

@keyframes enterMarch {
    from {
        opacity: 0;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.circle {
    display: flex;
    position: absolute;
    align-self: center;
    border-bottom: 5px solid gray;
    height: 10px;
    width: 95%;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 10rem;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 20rem;
    transform-style: preserve-3d;
    transform: rotateX(35deg);
    z-index: 1;
    animation: rotateCircle 1s ease-in-out;
}

@keyframes rotateCircle {
    from {
        transform: rotateY(-50deg)
    }

    to {
        transform: rotateX(35deg);
    }
}

.circle:hover {
    transition: rotateCircle 1s ease-in-out;
}

@media(width <= 1080px) {
    body {
        overflow-x: hidden;
    }
    
    #indexHero {
        position: fixed;
    }

    .hamburguer {
        display: block;
    }

    .item-menu {
        display: flex;
        gap: 20px;
    }

    .item-menu i {
        display: block;
        align-content: center;
    }

    .highlight h1, .highlight h2 {
        font-size: 5rem;
    }
    .highlight {
        gap: 3rem;
    }

    .header-menu {
        width: 80%;
        height: 100dvh;
        background-color: rgba(19, 41, 61, 0.904);
        backdrop-filter: blur(5px);
        padding-left: 2rem;
        position: absolute;
        z-index: 1;
        top: 0;
        right: -100%;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        transition: .7s;
        border-radius: 20px 0 0 20px;
    }
    
    .item-menu {
        font-size: 3rem;
    }

    .active {
        right: 0;
    }

    .hamburguer.active .barra:first-child {
        transform: translateY(8px) rotate(360deg) rotate(45deg);
    }

    .hamburguer.active .barra:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .barra:last-child {
        transform: translateY(-8px) rotate(-360deg) rotate(-45deg);
    }

    .header-menu {
        gap: 6rem;
        font-size: 3rem;
    }
}